body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 9px;
  /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* Cor da barra de rolagem */
  border-radius: 5px;
  /* Borda arredondada da barra de rolagem */
  box-shadow: 0px 0px 5px 2px black;

}

::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 37);
  /* Cor de fundo da barra de rolagem */
}

.wrapper {
  width: var(--page-width);
  max-width: var(--page-max-width);
  min-width: var(--page-min-width);
  height: inherit;
  display: grid;
  font-family: var(--font-family-montserrat-alternate);
  font-size: var(--font-size-default);
  grid-template-columns: 100%;
  grid-template-areas:
    "        header     "
    "         main      "
    "        footer     ";
  grid-template-rows: 100px auto auto;
  // line-height: 1.9em;
  margin: auto;
}

header {
  grid-area: header;

}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);

}

footer {
  grid-area: footer;
}

@media screen and (max-width:500px) {
  main{
    padding: 0 7px;
  }
};

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  font-family: var(--font-family-montserrat);
  color: var(--color-font03-dark);
}

a {
  font-size: var(--step--2);
  color: var(--color-font03);
}

p {
  font-size: var(--step--1);
  color: var(--color-font01);
}

h1 {
  font-size: var(--step-2);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-0);
}

h4,
h5,
h6 {
  font-size: var(--step-0);
}

i {
  font-size: var(--step-1);
}

.hidden {
  display: none;
}
.hiddenPageMain {
  animation: fadeOut 2s forwards;
}
.hiddenComponents {
  animation: fadeOut .7s ease-in-out both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;

  }
}
.showPageMain {
  animation: fadeIn .7s forwards;
  animation-delay: 2s;
}
.showComponents {
  animation: fadeIn .7s ease-in-out both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.btn {
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  padding: 7px 21px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(to top, rgb(252, 252, 252), rgb(231, 231, 231));
  box-shadow: 0 0 2px 1px rgba(21, 21, 21, 0.14);
  cursor: pointer;
}

.title--h3 {
  font-family: var(--font-family-montserrat);
  font-size: var(--step-3);
  font-weight: 600;
  text-transform: capitalize;
  
}