.main .mainContent {
  display: grid;
  margin: 0 auto 51px;
  padding-top: 50px;
  grid-template-areas: "filter products";
  grid-template-columns: var(--width-filter) auto;
  gap: var(--space-s);
  border-top: 1px solid rgba(37, 37, 37, 0.11);
}
.main__filter {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main__filter .filter__title {
  position: relative;
}
.main__filter .filter__title .fa-solid.fa-chevron-down {
  display: none;
}
.main__filter .filter__title::after {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  width: 35%;
  position: absolute;
  top: 50%;
  right: 0px;
}
.main__filter .filter__list .list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 9px 7px 7px;
  height: 42px;
  text-transform: capitalize;
}
.main__filter .filter__list .list__item .item__category {
  display: flex;
  gap: 21px;
  align-items: center;
}
.main__filter .filter__list .list__item .item__category .category__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.main__filter .filter__list .list__item .item__category .category__input:checked + .category__label::after {
  display: block;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--space-check);
  height: var(--space-check);
  border: 1px solid rgba(47, 47, 47, 0.21);
  border-radius: 7px;
  background: var(--color-background-btn-cart);
}
.main__filter .filter__list .list__item .item__category .category__label {
  font-family: var(--font-family-poppins);
  font-weight: 300;
  font-size: var(--step-0);
  position: relative;
  padding-left: 45px;
  color: var(--color-font03);
  cursor: pointer;
}
.main__filter .filter__list .list__item .item__category .category__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: var(--space-check);
  height: var(--space-check);
  background: none;
  border: 1px solid rgba(47, 47, 47, 0.21);
  border-radius: 7px;
}
.main__filter .filter__list .list__item .item__category .category__label:hover {
  color: var(--color-background-btn-cart);
  font-weight: 600;
}
.main__filter .filter__list .list__item .category__items {
  font-family: var(--font-family-montserrat-alternate);
  font-weight: 400;
  color: var(--color-font02);
  font-size: var(--step-0);
}
.main__filter .filter__price {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 21px;
}
.main__filter .filter__price .price__title {
  position: relative;
}
.main__filter .filter__price .price__title::after {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  width: 70px;
  position: absolute;
  top: 50%;
  right: 30px;
}
.main__filter .filter__price .price__range {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 95%;
  position: relative;
}
.main__filter .filter__price .price__range .price__output {
  font-size: 15px;
  font-weight: bolder;
}
.main__filter .filter__price .price__range .price__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.main__filter .filter__price .price__range .price__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}
.main__filter .filter__price .price__range .price__slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}
.main__filter .filter__price .price__btn-filter {
  background: var(--color-background-btn-cart);
  border-radius: 0;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  font-family: var(--font-family-poppins);
  font-size: 15px;
  height: 48px;
  width: 95%;
  margin-top: 21px;
}
.main__filter .filter__price .price__btn-filter:hover {
  background: var(--color-background-btn-cart-hover);
}
.main__products {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  grid-area: products;
  position: relative;
  right: 0px;
  justify-content: end;
  align-content: baseline;
}
.main__products .products__title {
  width: 100%;
  position: relative;
  left: 0;
  right: 40px;
  margin-bottom: 31px;
}
.main__products .products__title::after {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
  width: calc(100% - var(--step-5) * 11);
  position: absolute;
  top: 14px;
  right: 0px;
}
.main__products .products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 28px) / 3);
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 14px 7px;
  cursor: pointer;
}
.main__products .products__item:hover {
  box-shadow: 0 0 31px 2px rgba(27, 27, 27, 0.19);
}
.main__products .products__item .item__img-container {
  width: 80%;
  text-align: center;
  height: auto;
  margin: auto;
}
.main__products .products__item .item__img-container .item__img {
  width: inherit;
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__products .products__item .item__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 14px 0 0 0;
}
.main__products .products__item .item__info .item__title {
  width: 140px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-family-montserrat);
  font-size: var(--step--1);
  font-weight: 400;
  color: var(--color-font03-dark);
}
.main__products .products__item .item__info .item__description {
  display: none;
  width: 140px;
  padding: 0 14px;
  text-align: center;
  color: var(--color-font02);
}
.main__products .products__item .item__info .item__price {
  font-size: var(--step-0);
  font-weight: 800;
  color: var(--color-font03);
}
.main__products .products__item .item__info .item__add-cart-btn {
  background: var(--color-background-btn-cart);
  padding: 9px;
  background: #99cd78;
  color: #fff;
  font-weight: 600;
  font-size: var(--step--1);
  text-transform: capitalize;
  border-radius: 0;
  width: 85%;
}
.main__products .products__item .item__info .item__add-cart-btn:hover {
  background: var(--color-background-btn-cart-hover);
  background: #bbff36;
  color: #646464;
}
.main__products .products__item .item__info .item__buy-now-btn {
  display: none;
}

@media (max-width: 900px) {
  .main__products .products__item {
    width: calc((100% - 28px) / 2);
  }
}
@media (max-width: 700px) {
  .main__products .products__item {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .main .mainContent {
    grid-template-areas: "filter" "products";
    grid-template-columns: 79vw;
    justify-content: center;
    border-top: none;
    margin: 0;
    padding: 0;
  }
  .main__filter .filter__title {
    position: relative;
    padding: 7px;
    border-radius: 3px;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid rgba(112, 112, 112, 0.3098039216);
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .main__filter .filter__title .fa-solid.fa-chevron-down {
    display: inline-block;
  }
  .main__filter .filter__title::after {
    content: "";
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    width: var(--width-line-filter);
    position: absolute;
    top: 50%;
    left: 105%;
  }
  .main__products .products__item {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */