.container-carousel {
  padding: 40px 0;
  overflow: hidden;
}
.container-carousel__title {
  font-size: var(--step-4);
  color: rgb(221, 112, 72);
}
.container-carousel__content {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.container-carousel__content .bi {
  font-size: 14px;
}
.container-carousel__content .container-carousel__product-list {
  width: var(--width-4-items);
}
.container-carousel__content .container-carousel__product-content {
  position: relative;
  height: calc(var(--section-container-width) / 4 * 1.2);
  width: inherit;
  padding-right: 21px;
}
.container-carousel__content .container-carousel-nav {
  padding-right: 21px;
}
@keyframes animate {
  0% {
    opacity: 0.2;
    transform: rotateY(90deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1.1);
  }
}
@keyframes animate-out {
  0% {
    opacity: 1;
    transform: rotateY(0deg) scale(1.1);
  }
  100% {
    opacity: 0.2;
    transform: rotateY(90deg) scale(1);
  }
}
@media screen and (max-width: 900px) {
  .container-carousel__content {
    display: flex;
    flex-direction: row;
  }
  .container-carousel__content .container-carousel__product-list {
    width: var(--width-3-items);
  }
  .container-carousel__content .container-carousel__product-content {
    height: calc(var(--section-container-width) / 3 * 1.2);
    width: inherit;
    padding-right: 21px;
  }
  .container-carousel__content .container-carousel-nav {
    padding-right: 21px;
  }
}
@media screen and (max-width: 700px) {
  .container-carousel__content .container-carousel__product-list {
    width: var(--width-2-items);
  }
  .container-carousel__content .container-carousel__product-content {
    height: calc(var(--section-container-width) / 2 * 1.2);
    width: inherit;
    padding-right: 21px;
  }
  .container-carousel__content .container-carousel-nav {
    padding-right: 21px;
  }
}
@media screen and (max-width: 500px) {
  .container-carousel .container-carousel__product-list {
    width: var(--section-container-width);
  }
  .container-carousel .container-carousel__product-content {
    height: calc(var(--section-container-width) * 0.9);
    width: inherit;
    padding-right: 70px;
  }
  .container-carousel .container-carousel-nav {
    padding-right: 70px;
  }
}
.container-carousel__wrapper-image {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 2px;
}
.container-carousel__wrapper-image img {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-carousel__product-img, .container-carousel__product-img-clone {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.container-carousel__product-img:hover, .container-carousel__product-img-clone:hover {
  cursor: grabbing;
}
.container-carousel__product-content {
  text-align: center;
}
.container-carousel__product-title {
  font-size: var(--step-0);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--color-font03-dark);
}
.container-carousel__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  line-height: 1.4;
}
.container-carousel__info-wrapper span {
  color: var(--color01);
  font-size: var(--step-3);
  font-weight: 700;
  width: 120px;
  padding: 7px 0;
}
.container-carousel__info-stars .bi-star-fill,
.container-carousel__info-stars .bi-star-half {
  color: rgb(255, 208, 0);
  font-size: 0.7em;
  margin-right: 7px;
}

.container-carousel-product-content {
  position: relative;
}

.container-carousel-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 7px;
  top: 7px;
  right: 7px;
}

.container-carousel-nav > a {
  background-color: rgb(245, 245, 245);
  padding: 5px 9px;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

@keyframes scale1X {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=index.css.map */