$footer-wrapper: 'footer-wrapper';
$footer: 'footer';
$footer-end: 'footer__end';

.#{$footer-wrapper}{
    grid-area: footer;
    display: block;
    width: 100vw;
    // height: 700px;
    background: radial-gradient( rgb(255, 255, 255), rgb(255, 255, 255));
    box-shadow: 0 -0px 1px 1px rgba(59, 59, 59, 0.123);

}
.#{$footer}{
    max-width: 1080px;
    height: auto;
    padding: 20px 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    color: rgb(0, 0, 0);   

    span,
    li,
    a {
        font-size: var(--step--1);
    }

    &__logo {
        padding: 21px 0 21px;
    }
    
    &__column {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 2px;
        flex-grow: 1;
        
        
    }
    &__title {
        display: block;
        font-weight: 900;
        padding: 19px 0;
        color: rgb(42, 41, 41);
        font-size: var(--step-2);
    }
    &__text {
        color: rgb(64, 64, 64);
    }
    &__text:hover {
        color: rgb(0, 0, 0);
    }
    &__icon {
        font-size: var(--step-4);
        transition: .7s;
    }
    &__icon:hover {
        transform: scale(1.1);
        color: rgb(159, 86, 233);
        cursor: pointer;
    }
    &__icon:not(:last-child) {
        margin-right: 14px;
    }
}

.#{$footer-end} {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(170, 170, 170);
    height: 40px;
    background-color: rgb(14, 14, 14);
   
   
 .footer__copy {
        display: inline-block;
        font-size: 14px;
        padding-right: 5px ;
        transform: translateY(1.5px);
    }
}

