$nav-top: 'nav-top';

.#{$nav-top} {
    width: 100vw;
    padding: 0 calc((100vw / 6) * 0.5);
    grid-area: nav-top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-font03);
    
    &__text {
        color: var(--color02);
        font-weight: 400;
    }

    &__right {
        display: flex;
        gap: var(--space-s);
        
            .nav-top__item {
                color: var(--color-font05); 
                font-weight: 300;
            }

            .nav-top__item:not(:last-child)::after {
                content: " ";
                border-right: 1px solid rgba(255, 255, 255, 0.165);
                padding-right: var(--space-s);
                font-size: 9px;


            }
        
    }
    @media screen and (max-width:600px) {
        &__left {
            flex-grow: 1;
            text-align: center;
        }
        &__right {
            display: none;
        }
    }
}




