.is-green {
    font-size: var(--font-step--1);
    font-weight: bold;
    color: green;

}

$cart-wrapper: "cart-wrapper";

.#{$cart-wrapper} {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 20px 0 70px;

    &__title {
        padding-left: 21px;
    }

    &__table {
        width: inherit;
        background: rgb(243, 243, 243);
        border-radius: 7px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.144);


        thead {
            display: flex;
            width: inherit;
            padding: 7px 0;

            tr {
                display: flex;
                width: inherit;

                th {
                    width: calc(100% / 4);
                }

                th:nth-child(1) {
                    display: flex;
                    width: 40%;
                    // background-color: rgb(157, 255, 0);
                    padding-left: 20px;
                }
            }
        }

        tbody {
            tr {
                border-top: 1px solid rgba(0, 0, 0, 0.144);
                display: flex;
                padding: 40px 0;

                .cart__info {
                    display: flex;
                    width: calc(100% / 5);
                    height: auto;

                    img {
                        width: 70px;
                        height: 70px;
                    }
                }

                td {
                    width: calc((100% / 4));
                    text-align: center;

                    p {
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }

                td:nth-child(1) {
                    display: flex;
                    width: 40%;
                    padding-left: 20px;

                    // background-color: aqua;
                    div {
                        flex-grow: 1;
                        line-height: 1.5;
                        text-align: start;
                        padding-left: 14px;

                        h5 {
                            font-size: 1rem;
                        }

                        p {
                            font-size: 0.8rem;
                            color: var(--color-font02);
                        }
                    }
                }


                .total-price-product {
                    display: flex;
                    position: relative;
                    justify-content: center;


                    &__p {
                        padding-right: 14px;
                    }

                    &__del {
                        padding-top: 3px;
                        font-size: 20px;
                        font-weight: bolder;
                        color: rgba(0, 0, 0, 0.637);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__summary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__frete {

        &__title {
            font-family: var(--font-family-poppins);
            font-size: 21px;
            font-weight: 400;
            color: var(--color-font01);
        }

        &__description {
            font-family: var(--font-family-poppins);
            padding: 10px 0 20px;
            width: 70%;
            font-weight: 300;
        }
    }

    &__total {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__input {
            height: 44px;
            border: none;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.212);
            border-radius: 7px;
            padding-left: 3px;
            margin-right: 20px;

        }

        &__button {
            box-sizing: border-box;
        }

        &__sub-text {
            font-size: 18px;
        }

        &__sub-price {
            font-size: 18px;
            font-weight: 400;
            color: var(--color-font01);
        }

        &__text {
            font-size: 21px;
        }

        &__price {
            font-size: 21px;
            font-weight: 600;
            color: rgb(24, 204, 0);
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;

        .btn-finalize-order {
            background: linear-gradient(to top, rgb(60, 129, 3), rgb(72, 226, 1));
            color: white;
            font-weight: 500;
        }
    }
}

@media (max-width:1000px) {
    .#{$cart-wrapper} {
        &__table {
            thead {
                tr {
                    th:nth-child(2) {
                        display: none;
                    }
                }
            }
            tbody {
                tr {
                    td:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
};
@media (max-width:900px) {
    .#{$cart-wrapper} {
        &__table {
            thead {
                tr {
                    th:nth-child(2) {
                        display: none;
                    }
                }
            }
            tbody {
                tr {
                    td:nth-child(1) {
                        display: flex;
                        flex-direction: column;

                        div {
                            padding-left: 0;
                        }
                    }
                    td:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
};
@media (max-width:600px) {
    .#{$cart-wrapper} {
        &__table {
            margin: 21px;
            width: calc(100% - 42px);
            thead {
                width: 100%;
                tr {
                    width: 100%;
                    th:nth-child(1) {
                        width: 50%;
                    }
                    th:nth-child(2),
                    th:nth-child(3),
                    th:nth-child(5) {
                        display: none;
                    }
                    th:nth-child(4) {
                        width: 50%;
                        text-align: start;
                    }
                }
            }
            tbody {
                tr {
                    display: grid;
                    padding: 14px 0 7px 0;
                    grid-template-areas:
                        "td1 td4"
                        "td1 td5"
                    ;
                    align-content: start;
                    grid-template-columns: 50% 50%;
                    justify-content: start;

                    td:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        grid-area: td1;
                        width: 100%;
                        div {
                            padding: 0 7px 0;
                        }
                    }
                    td:nth-child(2),
                    td:nth-child(3) {
                        display: none;
                    }
                    td:nth-child(4) {
                        grid-area: td4;
                        div{
                            margin: 0;
                        }
                    }
                    td:nth-child(5) {
                        grid-area: td5;
                        justify-content: flex-start;
                        p {
                            padding-left: 0;
                        }
                    }
                    td {
                        width: 100%;
                        padding-bottom: 14px;

                    }
                }
            }
        };
        &__summary {
            padding: 0 21px;
        };
        &__total {
            div {
                display: flex;
                flex-wrap: wrap;
                gap: 21px;
            }
        };
        &__links {
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding-left: 21px;
            
            a {
                width: fit-content;
            }
            .btn-finalize-order {
                background: linear-gradient(to top, rgb(60, 129, 3), rgb(72, 226, 1));
                color: white;
                font-weight: 500;
            }
        }
    };
};

$product-quantity: "cart__product__quantity";

.#{$product-quantity} {
    display: flex;
    justify-content: center;
    gap: 7px;
    width: 90px;
    margin: auto;
    height: 41px;
    position: relative;

    &__value {
        text-align: center;
        height: 31px;
        width: 28px;
        border: none;
        background: none;
        color: rgb(49, 49, 49);
        border: 1px solid rgba(78, 78, 78, 0.534);
        border-radius: 7px;
        position: relative;
        top: 3px;

    }

    &__minus {
        color: rgb(109, 109, 109);
        position: relative;
        top: 7px;
        font-size: 23px;
        cursor: pointer;

    }

    &__plus {
        color: rgb(109, 109, 109);
        position: relative;
        top: 7px;
        font-size: 23px;
        cursor: pointer;
    }
};