body {
    background-color: var(--color-background);
    display: grid;
    font-family: var(--font-family-montserrat-alternate);
    font-size: var(--font-size-default);
    grid-template-columns: 0.5fr 5fr 0.5fr;
    grid-template-areas:
    "nav-top   nav-top   nav-top"
    ".         header    ."
    ".         main      ."
    "footer    footer    footer";
    grid-template-rows: 40px 120px auto auto;
    justify-content: center;
    line-height: 2.1em;
  }
  
  a {
    font-size: var(--step--1);
    color: var(--color-font03);
  }

  p {
    font-size: var(--step--1);
    color: var(--color-font01);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p {
    font-family: var(--font-family-montserrat-alternate);
    color: var(--color-font03-dark);
  }
  
  h1 {
    font-size: var(--step-4);
  }
  
  h2 {
    font-size: var(--font-step-3);
  }
  
  h3 {
    font-size: var(--font-step-2);
  }
  
  h4, 
  h5, 
  h6 {
    font-size: var(--step-1);
  }

  .hide{
    display: none;
  }
