$nav-top: 'nav-top';

.#{$nav-top} {
    width: 95%;
    max-width: var(--page-max-width);
    margin: auto;
    height: 49px;
    grid-area: nav-top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-font03);
    padding: 0 7px;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 49px;
        width: 100%;
        background-color: var(--color-font03);
        z-index: -1;
    }
    
    &__text {
        color: var(--color02);
        font-weight: 400;
        font-size: 15px;
        text-transform: uppercase;

    }

    &__right {
        display: flex;
        gap: var(--space-s);
        
            .nav-top__item {
                color: var(--color-font05); 
                font-weight: 300;
                padding: 0 7px;
                font-size: 15px;

            }

            .nav-top__item:not(:last-child)::after {
                content: " ";
                border-right: 1px solid rgba(165, 165, 165, 0.747);
                padding: 0 7px;
                font-size: 12px;


            }
        
    }

}
@media (max-width:780px) {
    section.nav-top{
      display: none !important;
    }
}



