$component-header: 'header';

.#{$component-header} {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hamburguer-btn {
        display: none;
        font-size: var(--step-4);
    }

    &__logo {
        width: clamp(6.25rem, calc(5.05rem + 4.81vw), 9.38rem);
        margin-bottom: -20px;
    }


    &__links-desktop {
        display: flex;
        gap: 21px;

    }

    &__links-mobile {
        display: none;
    }

    &__account-cart-search {
        display: flex;
        gap: 14px;

        i {
            font-size: var(--step-1);
            cursor: pointer;

        }
    }

}
