.header {

    @media screen and (max-width: 1024px) {
        display: flex;
    
        &__logo {
            flex-grow: 1;
            margin-bottom: -20px;
            position: relative;
        }
    
        .hamburguer-btn {
            display: flex;
            flex-grow: 1;
    
        }
    
        &__nav-desktop {
            display: none;
    
        }
    
        &__account-cart-search {
            flex-grow: 1;
            justify-content: end;
    
        }
    }
}

.nav-top {

    @media screen and (max-width:600px) {
        &__left {
            flex-grow: 1;
            text-align: center;
        }
        &__right {
            display: none;
        }
    }
}