$section07: 'section07';

.#{$section07} {
  margin-bottom: 40px;
  
  &__title {
    font-size: var(--step-3);
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 7px;
    
    h2 {
      
      color: var(--color01);
      text-transform: capitalize;
    }
  }
  
  &__content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
  }

  &__content {
    position: relative;
    cursor: pointer;
    transition: 1.4s ease;
    overflow: hidden;
  }

  &__content:hover {
   
    img{
      transform: scale(1.1);
      transition: 1.4s ease;
    }
    .section07__info {
      opacity: 1;

    }

  }

  &__img{
    width: 100%;
    height: auto;

    a,
    img {
      width: 100%;
      height: auto;
    }

  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: .7s ease;
  }
  
  &__icon {
    .bi {
      background-color: rgb(255, 166, 0);
      font-size: var(--step-2);
      padding: 7px;
      margin-right: 4px;
    }
  }

  &__text {
    padding: 14px;
    background-color: rgb(245, 245, 245);
    line-height: 1.4;

   span {
      color: var(--color01);
    }
  }
}