$section03-wrapper: 'section03';

.#{$section03-wrapper} {

  display: grid;
  grid-template-columns: auto auto auto auto;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
  padding: 40px 0;


  &__content {

    padding: 7px 0;
    display: flex;
    text-align: center;

    &:not(:last-child)::after {
      content: "";
      border-right: 1px solid rgba(0, 0, 0, 0.268);
      height: 20px;
      align-self: center;
      margin: 0 21px;
    }
  }

  &__icon {
    flex-grow: 1;
    font-size: var(--step-3);
    padding: 0 7px;

  }

  &__description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    line-height: 1.6;
  }

  &__title {
    font-weight: bolder;
    font-size: var(--step-0);

  }
  
  &__text {
    font-weight: 300;
    // font-size: 0.9rem;
  }

}