$section05-wrapper: "section05";

.#{$section05-wrapper} {
  // max-width: 1066px;
  margin: auto;
  display: grid;
  grid-template-columns: calc(100vw / 1.85) calc(100vw / 3.7);
  grid-template-rows: calc(100vw / 1.7);
  gap: 30px;
  padding-bottom: 50px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .7s ease;
  }

  .is-scale:hover img {
    transform: scale(1.1);
    transition: .7s ease;
  }

  .is-relative {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__info {
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: aliceblue;
    line-height: 1.4;
    padding: 14px 21px;
    text-align: center;

    span {
      color: var(--color01);
      font-size: var(--step--1);
    }
  }

  &__logo {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: black; */
  }

  &__left {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    gap: 30px;
    /* background-color: aqua; */
  }

  .left-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__right {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}

