$section02-products: 'section02';

.#{$section02-products} {
  display: grid;
  grid-template-columns: 2fr .733fr;
  gap: 2.5vw;

 

  &__left {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    .img-left {
      height: 100%;
      transition: 1.4s ease;
    }
    .img-left:hover {
      transform: scale(1.1);
      transition: 1.4s ease;
    }
     &__text {
      color: var(--color-font03);
     }

     &__title::after {
      content: " ";
      display: block;
      border-bottom: 1px solid var(--color01);
      padding-top: 14px;
      width: 30%;
     }
     &__price {
      display: block;
      font-size: var(--step-2);
      color: var(--color01);
      margin-top: 14px;
     }

  }
  
  &__right {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    overflow: hidden;
    cursor: pointer;
    
    .img-right01, .img-right02 {
      height: 100%;
      transition: 1.4s ease;
    }

    .img-right01:hover, .img-right02:hover {
      transform: scale(1.1);
      transition: 1.4s ease;
    }

    &__btn {
      background-color: rgba(6, 6, 6, 0.444);
      padding: 7px;
      color: var(--color01);
      border-radius: 2px;
    }
    
    &__btn:hover {
      animation: anime .7s both ease-in-out;

    }
  }
  


&__content {
    position: absolute;
    top: 20%;
    left: 5%;

  }

  .content-top, .content-bottom {
    position: relative;
    overflow: hidden;


  }
}


@keyframes anime {

  0% {
    color: var(--color01);
    transform: scale(1);
    background-color: rgba(6, 6, 6, 0.444);
  } 100% {
    color: var(--color02);
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.655);
  }
  
}
