:root {
    --color01: rgb(224, 138, 52);
    --color02: rgb(100, 228, 202);
    --color03: rgb(115, 207, 113);
    --color04: rgb(205, 199, 32);
    --color05: rgb(156, 83, 225);
    --color-background: rgb(255, 255, 255);
    --color-font01:rgb(74, 74, 74);
    --color-font02:rgb(148, 148, 148);
    --color-font03:rgb(58, 58, 58);
    --color-font03-dark:rgb(21, 21, 21);

    
    --color-font04:rgb(173, 173, 173);
    --color-font05:rgb(223, 223, 223);
    --color-font06:rgb(237, 237, 237);
    --color-background01:rgb(246, 238, 223);
}