// /* prettier-ignore */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300;400;500;800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* @link https://utopia.fyi/type/calculator?c=640,18,1.2,1440,24,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  // Font-Size
  --step--2: clamp(0.52rem, calc(0.43rem + 0.29vw), 0.69rem);
  --step--1: clamp(0.63rem, calc(0.52rem + 0.35vw), 0.83rem);
  --step-0: clamp(0.75rem, calc(0.63rem + 0.42vw), 1.00rem);
  --step-1: clamp(0.90rem, calc(0.75rem + 0.50vw), 1.20rem);
  --step-2: clamp(1.08rem, calc(0.90rem + 0.60vw), 1.44rem);
  --step-3: clamp(1.30rem, calc(1.08rem + 0.72vw), 1.73rem);
  --step-4: clamp(1.56rem, calc(1.30rem + 0.86vw), 2.07rem);


  // Font-Family
  --font-family-oswald: oswald, var(--font-family-sans-serif);
  --font-family-alkatra: 'Alkatra', cursive;
  --font-family-lobster-two: 'Lobster Two', cursive;
  --font-family-merianda: 'Merienda', cursive;
  --font-family-montserrat-alternate: 'Montserrat Alternates', sans-serif;
  --font-family-shantell-sans: 'Shantell Sans', cursive;

  --font-family-lato: 'Lato', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-nunito: 'Nunito', sans-serif;
  --font-family-nunito-sans: 'Nunito Sans', sans-serif;
  --font-family-open-sans: 'Open Sans', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-raleway: 'Raleway', sans-serif;
  --font-family-roboto: 'Roboto Mono', monospace;
  --font-family-source-sans: 'Source Sans 3', sans-serif;
}