:root {
  --page-width: 100%;
  --page-max-width: 1280px;
  --page-min-width: 300px;
  --product-card-min-width: 300px;
  --product-card-width: 300px;
  --product-card-max-width: 400px;

  /* @link https://utopia.fyi/space/calculator?c=900,31,1.1,1280,71,1.1,5,2,&s=0.75|0.5|0.25,1.25|1.5|1.75|2|3,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.5rem, -0.9803rem + 2.6316vw, 1.125rem);
  --space-2xs: clamp(1rem, -1.9605rem + 5.2632vw, 2.25rem);
  --space-xs: clamp(1.4375rem, -3.0033rem + 7.8947vw, 3.3125rem);
  --space-s: clamp(1.9375rem, -3.9836rem + 10.5263vw, 4.4375rem);
  --space-m: clamp(2.4375rem, -4.9638rem + 13.1579vw, 5.5625rem);
  --space-l: clamp(2.9375rem, -5.9441rem + 15.7895vw, 6.6875rem);
  --space-xl: clamp(3.375rem, -6.9868rem + 18.4211vw, 7.75rem);
  --space-2xl: clamp(3.875rem, -7.9671rem + 21.0526vw, 8.875rem);
  --space-3xl: clamp(5.8125rem, -11.9507rem + 31.5789vw, 13.3125rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.5rem, -3.6447rem + 7.3684vw, 2.25rem);
  --space-2xs-xs: clamp(1rem, -4.477rem + 9.7368vw, 3.3125rem);
  --space-xs-s: clamp(1.4375rem, -5.6678rem + 12.6316vw, 4.4375rem);
  --space-s-m: clamp(1.9375rem, -6.648rem + 15.2632vw, 5.5625rem);
  --space-m-l: clamp(2.4375rem, -7.6283rem + 17.8947vw, 6.6875rem);
  --space-l-xl: clamp(2.9375rem, -8.4605rem + 20.2632vw, 7.75rem);
  --space-xl-2xl: clamp(3.375rem, -9.6513rem + 23.1579vw, 8.875rem);
  --space-2xl-3xl: clamp(3.875rem, -18.477rem + 39.7368vw, 13.3125rem);

  /* Custom pairs */
  --space-s-l: clamp(1.9375rem, -9.3125rem + 20vw, 6.6875rem);

  /* Space check*/
  --space-check: clamp(1.3125rem, 0.2763rem + 1.8421vw, 1.75rem);
  /* Width filter*/
  --width-filter: clamp(15rem, 3.1579rem + 21.0526vw, 20rem);
  /* Width line filter 580px */
  --width-line-filter: clamp(0rem, -10.3125rem + 75vw, 16.875rem);
}