:root {
  --start-width: 35px;
  --end-width: 210px;
  --field-search-width: 300px;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

/* SEARCH FIELD */
.search-container {
  position: absolute;
  height: 39px;
  margin: auto;
}

.search-container {
  opacity: 0;
  top: -100px;
}

.search-container .bi.bi-search {
  position: absolute;
  top: 25%;
  right: 5%;
}

.search-container .search-input {
  height: inherit;
  width: inherit;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 3px 3px 0 0;
  padding-left: 3px;
  outline: none;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.089);
  position: relative;
  z-index: 99999;
}

.textareaSearch {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding: 7px 0 21px 0;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.089);
}

.textareaSearch > a {
  color: #333;
  text-decoration: none;
}

/* Estilos para telas acima de 800px */
@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
  }
  .logo {
    /* flex-grow: 0; */
    text-align: left;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu li {
    position: relative;
  }
  .menu .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 14px;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1999;
  }
  .menu .dropdown:hover .dropdown-menu {
    display: block;
  }
  .icons {
    display: flex;
    text-align: right;
  }
  .icons a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
  }
  .fa-solid.fa-chevron-right {
    display: none;
  }
  .state-menu-toggle {
    display: none;
  }
}
/* Estilos para telas abaixo de 800px */
@media screen and (max-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .logo {
    flex: 1;
    text-align: center;
    flex-grow: 1;
  }
  .icons {
    flex: flex;
    text-align: right;
    flex-grow: 0;
  }
  .icons a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    text-decoration: none;
  }
  .menu-toggle {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  .menu-toggle i {
    font-size: 24px;
  }
  .menu {
    display: block;
    position: fixed;
    top: 100px;
    left: 0;
    list-style: none;
    width: 220px;
    margin: 0;
    padding: 30px 0;
    background-color: #ffffff;
    border-top: none;
    box-shadow: 0 0 2px 1px rgba(85, 83, 83, 0.212);
    border-radius: 3px;
    z-index: 10;
  }
  .menu-toggle.active i {
    transform: rotate(180deg);
  }
  .menu li a {
    position: relative;
    padding-left: 7px;
    overflow: hidden;
  }
  .menu li a:hover {
    display: flex;
    border-bottom: 1px solid rgba(17, 17, 17, 0.055);
    font-weight: 900;
    color: #555555;
    box-sizing: border-box;
  }
  .dropdown {
    position: relative;
    overflow: hidden;
  }
  .fa-solid.fa-chevron-right {
    margin-left: 14px;
    font-size: 14px;
  }
  .dropdown-menu {
    position: absolute;
    left: 20px;
    width: 100%;
    list-style: none;
  }
  .state-menu {
    display: none;
  }
}
.hidden {
  display: none;
}

/* KEYFRAMES */
@keyframes showSearchInput {
  from {
    opacity: 0;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
  }
  to {
    opacity: 1;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--field-search-width);
  }
}
@keyframes rotate90Deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotateOrigin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes boxShadowShow {
  from {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.21);
  }
}
@keyframes boxShadowHidden {
  from {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.21);
  }
  to {
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0);
  }
}
@keyframes showDropdown {
  from {
    height: var(--start-width);
  }
  to {
    height: var(--end-width);
  }
}
@keyframes showDropdown2 {
  from {
    height: var(--end-width);
  }
  to {
    height: var(--start-width);
  }
}/*# sourceMappingURL=index.css.map */