<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- <div class="search-container" style="animation: 1s ease-in-out 0s 1 normal both running showSearchInput;">
    <i class="bi bi-search"></i>
    <input class="search-input" type="text" placeholder="Search...">
    <div class="textareaSearch" name="" id="" cols="30" rows="10">
      <a href="#">xicara de cafe</a>
      <a href="#">xícara</a>
      <a href="#">xícara</a>
      <a href="#">xícara</a>
      <a href="#">xícara music</a>
      <a href="#">xícara</a>
      <a href="#">xicara de cafe</a>
    </div>
  </div> -->
  <script type="module" src="./CreateHeader.js"></script>
  <script type="module" src="./Search.js"></script>
</body>

</html>